
#photo{
    background-color:lawngreen;

}

#motiv
{
    background-color:deepskyblue;

}

img{
    flex-direction: row;
    display: block;
    margin: 25%;
}


.container .row {
    margin-top:-2%;

}
body{
    margin:20px;

}

.z-depth-5{
    text-align: center;
    color:white;
    font-family: "Droid Sans";
    font-size: larger;
}
body {
    font-family: 'Ubuntu', sans-serif;
    width:960px;
}

p{
    color:#525252;
    font-size:12px;
}

